    /* ESTILO GERAL  */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    bady {
        background-color: #000;
        height: 100vh;
    }

    .interface {
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex {
        display: flex;
    }

    .ph-contato button {
        padding: 10px 40px;
        font-size: 15px;
        font-weight: 600;
        background-color: rgb(3, 255, 16);
        border: 0;
        border-radius: 30px;
        cursor: pointer;
        transform: .2s;
    }

    h2.titulo {
        color: #fff;
        font-size: 38px;
        text-align: center;
    }

    h2.titulo span {
        color: rgb(0, 255, 221);
    }

    button:hover,
    form .btn-enviar input:hover {
        box-shadow: 0px 0px 0px rgb(3, 255, 16);
        transform: scale(1.05);
    }

    /* ESTILO DO CABEÇALHO */
    header {
        padding: 40px 4%;
    }

    header>.interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header a {
        color: #505050;
        text-decoration: none;
        display: inline-block;
    }

    header a:hover {
        color: #fff;
        transform: scale(1.05);

    }

    header nav ul {
        list-style-type: none;
    }

    header nav ul li {
        display: inline-block;
        padding: 0 40px;
    }

    .ph-contato button:hover {
        box-shadow: 0px 0px 8px rgb(3, 255, 16);
        transform: scale(1.05);
    }

    /* ESTILO DO TOPO DO SITE  */
    section.topo-do-site {
        padding: 40px 4%;
    }

    section.topo-do-site .flex {
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .topo-do-site .txt-topo-site h1 {
        color: #fff;
        font-size: 38px;
        line-height: 60px;
    }

    .topo-do-site .txt-topo-site p {
        color: #fff;
        margin-bottom: 20px;
    }

    /*  ESTILO DE FORMACAO */
    section.formacao {
        padding: 40px 4%;
    }

    section.formacao .flex {
        gap: 60px;
    }

    .formacao .formacao-box {
        color: #fff;
        padding: 33px;
        border-radius: 28px;
        margin-top: 45px;
    }

    .formacao .formacao-box i {
        font-size: 60px;
        color: rgb(3, 255, 16);
    }

    .formacao .formacao-box h3 {
        font-size: 28px;
        color: rgb(0, 255, 221);
        margin: 30px 0;
    }

    /* ESTILO DO SOBRE */
    section .sobre {
        padding: 40px 4%;
    }

    section.sobre .flex {
        align-items: center;
        gap: 60px;
    }

    .sobre .txt-sobre {
        color: #fff;
    }

    .sobre .txt-sobre h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .sobre .txt-sobre h2 span {
        color: rgb(0, 255, 221);
        display: block;
    }

    /* ESTILO DO PORTFÓLIO */
    section.portfolio {
        padding: 80px 4%;
        box-shadow: 0 0 40px 10px #ffffff27;
    }

    section.portfolio .flex {
        justify-content: space-around;
        margin-top: 30px;
    }

    .img-port {
        width: 360px;
        height: 460px;
        background-size: cover;
        background-position: 100% 0%;
        transition: 8s;
        cursor: pointer;
        border-radius: 40px;
        position: relative;
    }

    .img-port:hover {
        background-position: 100% 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000ad;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        color: rgb(3, 255, 16);
        opacity: 0;
        transition: 1s;
    }

    .overlay:hover {
        opacity: 1;
    }

    /* ESTILO DO FORMULÁRIO DE CONTATO */
    section.formulario {
        padding: 80px 4%;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }

    form input,
    form textarea {
        width: 100%;
        background-color: #615f5f;
        border: 0;
        outline: 0;
        padding: 20px 15px;
        border-radius: 15px;
        color: #fff;
        font-size: 18px;
    }

    form input::placeholder {
        color: rgb(3, 255, 16);
    }

    form textarea::placeholder {
        resize: none;
        max-height: 200px;
        color: rgb(3, 255, 16);
    }

    form .btn-enviar {
        margin-top: 20px;
        text-align: center;
    }

    form .btn-enviar input {
        width: 120px;
        background-color: rgb(3, 255, 16);
        color: #000;
        font-weight: 700;
        cursor: pointer;
        transform: 2s;
    }

    @media screen and (max-width: 1060px) {

        /* CLASSES GERAIS */
        .flex {
            flex-direction: column;
        }

        /* TOPO DO SITE */
        selection.topo-do-site {
            padding: 20px 8%;
        }

        .topo-do-site h1 {
            font-size: 30px;
        }

        /*  ESTILO DE FORMACAO */
        section.formacao {
            padding: 40px 8%;
        }

    }